<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="bearer" class="container">
  <h2>Add Employee</h2>
  <table>
    <tr>
      <td><label for="employee-last">Last name: </label></td>
      <td><input id="employee-last" #lastName /></td>
    </tr>
    <tr>
      <td><label for="employee-first">First name: </label></td>
      <td><input id="employee-first" #firstName /></td>
    </tr>
    <tr>
      <td><label for="employee-street">Street: </label></td>
      <td><input id="employee-street" #street /></td>
    </tr>
    <tr>
      <td><label for="employee-postcode">Postcode: </label></td>
      <td><input id="employee-postcode" #postcode /></td>
    </tr>
    <tr>
      <td><label for="employee-city">City: </label></td>
      <td><input id="employee-city" #city /></td>
    </tr>
    <tr>
      <td><label for="employee-phone">Phone: </label></td>
      <td><input id="employee-phone" #phone /></td>
    </tr>
  </table>
  <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
  <button type="button" class="btn btn-success marginButton" (click)="add(lastName.value,firstName.value, street.value, postcode.value, city.value, phone.value);">
    Save
  </button>
</div>
