<div class="container">
  <h2>Login</h2>
  <form>
    <div>
      <label for="user">User name:</label><br>
      <input id="user" autocomplete="username" #userName />
    </div>
    <div>
      <label for="password">Password:</label><br>
      <input id="password" type="password" autocomplete="current-password" #userPw />
    </div>
    <button class="btn btn-primary loginButton" type="button" (click)="login(userName.value, userPw.value)">Login</button>
  </form>
</div>
