<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="bearer" class="container">
  <div *ngIf="employee">
    <h2>{{employee.firstName}} {{employee.lastName}}</h2>
    <table>
      <tr>
        <td>ID:</td>
        <td>{{employee.id}}</td>
      </tr>
      <tr>
        <td>First name:</td>
        <td>{{employee.firstName}}</td>
      </tr>
      <tr>
        <td>Last name:</td>
        <td>{{employee.lastName}}</td>
      </tr>
      <tr>
        <td>Address:</td>
        <td>{{employee.street}}</td>
      </tr>
      <tr>
        <td></td>
        <td>{{employee.postcode}} {{employee.city}}</td>
      </tr>
      <tr>
        <td>Phone:</td>
        <td>{{employee.phone}}</td>
      </tr>
    </table>
    <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
    <button type="button" class="btn btn-danger marginButton" (click)="deleteEmployee(employee)">Delete</button>
    <button type="button" class="btn btn-warning marginButton" routerLink="/employee/edit/{{employee.id}}">Edit </button>
  </div>
</div>
