.employees {
  margin: 2em 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 30em;
}

.employees li {
  position: relative;
  cursor: pointer;
}

.employees li:hover {
  left: .1em;
}

.employees a {
  color: #333;
  text-decoration: none;
  background-color: #EEE;
  margin: .5em 0 .5em .5em;
  padding: .3em 0;
  height: 2.2em;
  display: inline-block;
  width: 80%;
}

.employees .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: .8em .7em 0 .7em;
  background-color: #405061;
  line-height: 1em;
  text-align: right;
  border-radius: 4px 0 0 4px;
  position: relative;
  left: -1px;
  top: -5px;
  height: 2.7em;
  margin-right: 1em;
}

.employees .deleteBadge {
  display: inline-block;
  border-radius: 0 4px 4px 0;
  color: white;
  background-color: red;
  height: 1.95em;
  line-height: 1em;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 0;
  font-size: large;
  position: relative;
  top: -3px;
  border: none;
}

.employees .deleteBadge:hover {
  opacity: 0.5;
}

.employees .editBadge {
  display: inline-block;
  color: black;
  background-color: yellow;
  height: 1.95em;
  line-height: 1em;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 0;
  font-size: large;
  position: relative;
  top: -3px;
  border: none;
}

.employees .editBadge:hover {
  opacity: 0.5;
}

.addBadge {
  display: inline-block;
  border-radius: 4px 4px 4px 4px;
  color: black;
  background-color: green;
  height: 2em;
  line-height: 1em;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: 40%;
  font-size: large;
  position: relative;
  top: 50px!important;
  border: none;
}

.employees .addBadge:hover {
  opacity: 0.5;
  left: .1em;
}

.marginButton {
  margin-left: 1em;
}
