<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="bearer" class="container">
  <h2>List of Employees</h2>
  <ul class="employees">
    <li *ngFor="let employee of employees">
      <a routerLink="/detail/{{employee.id}}">
        <span class="badge">{{employee.id}}</span> {{employee.lastName}}, {{employee.firstName}}
      </a>
      <button type="button" class="editBadge" routerLink="/employee/edit/{{employee.id}}"><span class="fa-solid fa-user-pen"></span> </button>
      <button class="deleteBadge" (click)="deleteEmployee(employee)"><span class="fa-solid fa-user-xmark"></span></button>
    </li>
    <button type="button" class="btn btn-primary " (click)="goBack()">Go back</button>
    <button type="button" class="btn btn-success marginButton" routerLink="/employee/add">Add employee</button>
  </ul>
</div>
