<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="bearer" class="container">
  <h2>Employee search</h2>
  <p>Please enter the name of the employee you want to find.</p>
  <input #searchBox id="search-box" (input)="search(searchBox.value)" autocomplete="off" />
  <ul class="search-result">
    <li *ngFor="let employee of result" >
      <a routerLink="/detail/{{employee.id}}">
        {{employee.firstName}} {{employee.lastName}}
      </a>
    </li>
  </ul>
</div>
