<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf= "bearer" class="container">
  <h2>Dashboard</h2>
  <ul class="employees">
    <button type="button" class="btn btn-primary marginButton" routerLink="/employees">Show all employees</button>
  </ul>
  <ul class="employees">
    <button type="button" class="btn btn-primary marginButton" routerLink="/employee/add"> Add Employee</button>
  </ul>
  <ul class="employees">
    <button type="button" class="btn btn-primary marginButton" routerLink="/search">Search</button>
  </ul>
</div>
