h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
  width: 70%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-top: 1em !important;
}
body {
  margin: 2em;
}
body, input[type="text"], button {
  color: #333;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}

.mynav {
  background-color: midnightblue;
}
