<nav class="navbar navbar-expand-lg navbar-dark mynav">
  <div class="container">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/employees">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/search">Search</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <button *ngIf="bearer" type="button" class="btn btn-danger" (click)="logout()">Log out</button>
        <button *ngIf="!bearer" type="button" class="btn btn-success" routerLink="/login">Log in</button>
      </li>
    </ul>
  </div>
</nav>
<div *ngIf="employee && bearer">
  <div class="container">
    <h2>Edit Employee</h2>
    <table>
      <tr>
        <td><label>ID: </label> </td>
        <td>{{employee.id}}</td>
      </tr>
      <tr>
        <td><label> Last name: </label> </td>
        <td><input [(ngModel)]="employee.lastName" placeholder="last name" /></td>
      </tr>
      <tr>
        <td><label >First name: </label></td>
        <td><input [(ngModel)]="employee.firstName" placeholder="first name" /></td>
      </tr>
      <tr>
        <td><label>Street: </label></td>
        <td><input [(ngModel)]="employee.street" placeholder="street" /></td>
      </tr>
      <tr>
        <td><label>Postcode: </label></td>
        <td><input [(ngModel)]="employee.postcode" placeholder="postcode" /></td>
      </tr>
      <tr>
        <td><label>City: </label></td>
        <td><input [(ngModel)]="employee.city" placeholder="city" /></td>
      </tr>
      <tr>
        <td><label>Phone: </label></td>
        <td><input [(ngModel)]="employee.phone" placeholder="phone" /></td>  </tr>
    </table>
    <button type="button" class="btn btn-primary" (click)="goBack()">Go back</button>
    <button type="button" class="btn btn-success marginButton" (click)="save()">Save</button>
  </div>
</div>
